/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

/* Generic */
table caption {
    line-height: 24px;
    font-weight: bold;
    border: 1px solid #EEE;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

/* Statusbar */
#ajax-loader {
    display: block;
    position: absolute;
    width: 32px; height: 32px;
    margin: -63px 0 0 7px;
    background: url("img/icons/ajax-loader.gif");
}

/* Services */
#services .btn-delete {
    display: inline-block;
    visibility: hidden;
    color: #F00;
    font-size: 10px;
}
#services tr :hover .btn-delete { visibility: visible; }

#services .hint {
    font-size: 0.8em;
    font-weight: normal;
    color: #777;
}

#services TBODY th { vertical-align: middle; }

.service-state.state-OK { background-image: url("img/icons/VistaBase/PNG/24x24/Circle_Green.png"); }
.service-state.state-WARN { background-image: url("img/icons/VistaBase/PNG/24x24/Circle_Orange.png"); }
.service-state.state-FAIL { background-image: url("img/icons/VistaBase/PNG/24x24/Circle_Red.png"); }
.service-state.state-UNK { background-image: url("img/icons/VistaBase/PNG/24x24/Circle_Grey.png"); }
.service-state {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 32px !important;
    min-width: 36px;
    min-height: 36px;
}

.change-remove {
  background-color: #FF9;
  transition: all 3s ease-in;
}
.change-remove-active {
  background-color: white;
}

/* States */
#states .state-info .label { margin-left: 5px; }
#states td.grouped { font-size: 0.8em; padding: 0; }

/* Overview */
#overview .services { line-height: 28px; }
#overview .service-state { padding-left: 0 !important; }
#overview .service-state .label { font-size: 7pt; padding: 1px 2px; margin-left: 20px; border-radius: 10px; }
